@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap';

$font_family: 'Inter', 'Noto Sans JP', sans-serif;
$color_white: #fff;
$color_black: rgb(0 0 0 / 90%);
$color_blue: #7d7dff;
$color_gray1: #e5e7eb;
$color_gray2: #d1d5db;
