.attribution {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 5px;
  font-size: 0.75rem;
  line-height: 1.4;
  color: $color_white;
  background: $color_black;
}

.copyright {
  margin-right: 0.25em;
  font-size: 1rem;
}

.contributors {
  display: flex;
  gap: 0.5em;
}

.contributor {
  position: relative;

  &:not(:nth-last-child(1)) {
    &::before {
      position: absolute;
      top: 0;
      left: 100%;
      display: block;
      content: ',';
    }
  }
}

.link {
  color: $color_blue;
}
