$scale: 1.5;

.toggle {
  position: relative;
  display: inline-flex;
  column-gap: 0.75rem;
  align-items: center;
}

.button {
  position: relative;
  width: calc(2.75rem * $scale);
  height: calc(1.5rem * $scale);
  padding: 0;
  cursor: pointer;
  background-color: $color_gray1;
  border: none;
  border-radius: 9999px;

  &:focus {
    outline: none;
  }

  &::after {
    position: absolute;
    top: calc(2px * $scale);
    left: calc(2px * $scale);
    width: calc(1.25rem * $scale);
    height: calc(1.25rem * $scale);
    content: '';
    background-color: $color_white;
    border-color: $color_gray2;
    border-width: 1px;
    border-radius: 9999px;
    transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.__on {
    background-color: $color_blue;

    &::after {
      border-color: $color_white;
      transform: translateX(100%);
    }
  }
}

.label {
  font-size: 1rem;
  color: $color_white;
}
